* {
	font: message-box;
	background-color: #f9f9f9;
}
h2 {
	font-size: 2em;
}
.btn {
	border: 2px solid #97a1ad;
	border-radius: 3px;
	padding: 9px 13px;
	min-width: 300px;
	display: inline-block;
	font-size: 1.5em;
}

.btn:hover {
	cursor: pointer;
	border-color: #40444a;
	background-color: #c9c9c9;
}

.lim {
	padding: 4px 0px;
}
